name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '*'
  push:
    branches:
      - main
      - master

jobs:
  lint:
    name: Run Lint
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install
      
      - name: Run lint
        run: bun run lint
